#mainshell {
    width: 725px;
    padding: 0px;
    margin: 0px;
    background: white;
    position: relative;
}

body {
    display: block;
    background-color: #000000;
}

#page_title {
    margin: 0px;
    padding: 20px;
}

#pageshell,
#cont_table,
#foot_table {
    width: 900px;
    padding: 0px;
}

.box_shell.borders {
    border-right: none;
    border-bottom: none;
}

.box_shell {
    border: 1px solid black;
    margin: 10px auto 20;
    background-color: white;
}

.box_shell.fourPerRow .box_content td {
    width: 25%;
}

.box_shell.centered .box_content td,
.box_shell.centered .box_content {
    text-align: center;
}

.box_shell.borders .box_content td {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.box_shell .box_content td {
    padding: 5px;
}

.box_shell.centered .box_content td,
.box_shell.centered .box_content {
    text-align: center;
}

.box_shell.fourPerRow .box_content td {
    width: 25%;
}

.center_column {
    width: 709px;
    margin: auto;
    padding: 0px;
    line-height: 130%;
    text-align: center;
    background-color: white;
}

.content a {
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
}

.box_title {
    padding: 3px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
}

body,
td,
div,
input,
textarea {
    font-family: verdana, arial, sans-serif;
    font-size: 13px;
}